.employeeCard {
  background-color: #292929;
  text-align: center;
  padding: 20px;
  margin: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.255);
}

.cardRow {
  justify-content: center;
}
.icon {
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.651);
}

.firstName {
  font-family: "Crimson Text", serif;
  font-size: 40px;
}

.bodyText {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  color: rgb(180, 180, 180);
}

font-family: "Work Sans", sans-serif;
